*{
	margin:0px;
	padding: 0px;
}

h1{
	font: bold 20px Tahoma;
}

h2{
	font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup{
	display: block;
}

body{
	width: 100%;
	display: -webkit-box;/*esto se utiliza para hacer la web responsive: http://css-infos.net/properties/webkit*/
	-webkit-box-pack: center;
}

#articulos{
	border: 1px solid black;
	max-width: 1000px;
	/*width: 1000px;*/
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient: vertical;
	margin: 20px auto;
	/*text-align: left;*/
}
#top_header{
	background: yellow;
	border: 1px solid blue;
	padding: 15px;
}

#top_menu{
	background: blue;
	color: white;
}

#top_menu li{
	display: inline-block;
	padding: 15px;
	font: bold 14px Verdana;
}
#new_div{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}

#main_section{
	-webkit-box-flex: 1;
	min-width: 200px;
	margin: 20px;
	padding: 20px;
	/*float: left;*/
	/*width: 660px;*/
	/*margin: 30px; 660+30+30=720px ocupados, 280px libres*/
}
#news_aside{
	/*float: left;*/
	-webkit-box-flex: 1;
	/*width: 220px;*/
	padding: 30px;
	margin: 20px 0px;
	background: #ff2536;
	color: white;
}
#the_footer{
	clear:both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid;
}

article{
	background: #FFFBCC;
	border: 1px solid red;
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}