 @import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

*{ 
	margin: 0;
	padding: 0; 
}

body{
	background-color: #F4FFF3;
	margin: 0 auto;
	font-size:15px; 
	font-family:Archivo Narrow; 
	text-align:center;
}

#cajaSlider{
	border: 1px solid #0D0D0D;
	height: 390px;
	background-color: #0D0D0D;
}

#slider {
    display: block;
    width: 760px;
    height: 350px;
    min-width: 260px;
    margin: 20px auto;
    position: relative;
}

#sliderinner {
	-webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#sliderinner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#sliderinner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#sliderinner>ul>li>img {
    margin: auto;
    height: 100%;
}

#slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slider label {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*border-radius: 50%;*/
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
#slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
#slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
#slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
#slider input[type=radio]#control5:checked~label[for=control5] { background-color: #333; }
#slider label[for=control1] { margin-left: -36px }
#slider label[for=control2] { margin-left: -18px }
#slider label[for=control4] { margin-left: 18px }
#slider label[for=control5] { margin-left: 36px }
#slider input[type=radio]#control1:checked~#sliderinner>ul { left: 0 }
#slider input[type=radio]#control2:checked~#sliderinner>ul { left: -100% }
#slider input[type=radio]#control3:checked~#sliderinner>ul { left: -200% }
#slider input[type=radio]#control4:checked~#sliderinner>ul { left: -300% }
#slider input[type=radio]#control5:checked~#sliderinner>ul { left: -400% }
