@charset "utf-8";
/* CSS Document */

body{
	text-align: center;	
}

header,section,nav{
	display:block;
}

button {
  background: url('play.png');
  width:32px;
  height:auto;
  border: none;
}

#reproductor{
	width: 720px;
	height: 305px;
	padding: 15px;
	background: #2B2B2B;
	border: 3px solid #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

nav{
	margin: 5px 0px;
}

#botones{
	float:left;
	width:100px;
	height:22px;
}

#barra{
	position: relative;
	float: left;
	width: 550px;
	height:8px;
	paddign: 2px;
	background: #90EE90;
}
#progreso{
	position: relative;
	float: left;
	width: 550px;
	height: 8px;
	margin: 6px;
	padding: 2px;
	background: grey;
}

#reproducir{
	height: 32px;	
}

#pButton{
	height:60px; 
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
}

#timeline{
	width: 400px;
	height: 20px;
	background: #4200f7;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}
 
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 255, 196, 0.82);
}

.play{
	background: url('play.png') no-repeat;
}
.pause{
	background: url('pause.png') no-repeat;
}