*{
	margin:0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	color: #000305;
	font-size:12px;
	font-family: "Andale Mono", AndaleMono, monospace;
	/*display: -webkit-box;/*esto se utiliza para hacer la web responsive: http://css-infos.net/properties/webkit*/
	/*-webkit-box-pack: center;	*/
}
.body{
	margin: 3% auto;
	width: 70%;
	clear: both;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color: #6666FF;
}

a:hover, a:active{
	color: #FFF;
}
.cabecera{
	width: 100%;
}
.cabecera img{
	float:left;
	width: 18%;
	/*display: -webkit-box;*/
}
.cabecera nav{
	height: 100px;
}

.cabecera nav ul{
	list-style:none;
	margin: 0 auto;
}

.cabecera nav ul li{
	margin-top: 6%;
	float: left;
	display:inline;
}
.cabecera nav a:link, .cabecera nav a:visited{
	color: #303030;
	display:inline-block;
	padding: 10px 25px;
	height: 15px;
}
.cabecera nav a:hover, .cabecera nav a:active, .cabecera nav .activo a:link, .cabecera nav .activo a:visited{
	color:#999;
	text-shadow:none;
}
.main_img {
	width: 70%;
	float: left;
}
#contenedor1{
	display: -webkit-box;/*Hace funcionar el webkit-box*/
	-webkit-box-orient: horizontal; /*Muestra los elementos alineados de manera horizontal*/
	-webkit-box-pack: center;/*Alinea los elementos en el centro*/
	/*-webkit-box-direction: reverse; /*Ordena los elementos de atras en adelante*/
	color:#FFF;
	height: 300px;
	-webkit-box-align: center;/*Alinea todos los elementos en el centro verticalmente*/
	-webkit-box-align: stress;
	width: 70%;
	float:left; 
}
#contenedor2{
	display: -webkit-box;/*Hace funcionar el webkit-box*/
	-webkit-box-orient: horizontal; /*Muestra los elementos alineados de manera horizontal*/
	-webkit-box-pack: center;/*Alinea los elementos en el centro*/
	/*-webkit-box-direction: reverse; /*Ordena los elementos de atras en adelante*/
	color:#FFF;
	height: 300px;
	-webkit-box-align: center;/*Alinea todos los elementos en el centro verticalmente*/
	-webkit-box-align: stress;
	width: 20%;
}
#slider{
	border: 2px solid blue;
	background-color: #526;
	margin: 10px;
	padding: 20px;
	width: 60px;
	-webkit-box-flex:0.5;
	/*-webkit-box-ordinal-group:3;/*Ordena los elementos según el número introducido, en este caso, el bloque1 aparecerá en tercera posición*/
	height: 230px;
}
#bloque1{
	border: 2px solid blue;
	background-color: #526;
	margin: 10px;
	padding: 20px;
	width: 60px;
	height: 90px;
	-webkit-box-flex:0.5;
	/*-webkit-box-ordinal-group:3;/*Ordena los elementos según el número introducido, en este caso, el bloque1 aparecerá en tercera posición*/
}
#bloque2{
	border: 2px solid blue;
	background-color: #960100;
	margin: 10px;
	padding: 20px;
	width: 60px;
	height: 90px;
	-webkit-box-orient: vertical; /*Muestra los elementos alineados de manera horizontal*/
	-webkit-box-flex:0.5;
	/*-webkit-box-ordinal-group:4;*/
}
#bloque3{
	border: 2px solid blue;
	background-color: #303030;
	margin: 10px;
	padding: 20px;
	width: 60px;
	height: 90px;
	-webkit-box-flex:0.5;	
	/*-webkit-box-ordinal-group:1;*/
}
#bloque4{
	border: 2px solid blue;
	background-color: #528963;
	margin: 10px;
	padding: 20px;
	width: 60px;
	height: 90px;
	-webkit-box-flex:0.5;
	/*-webkit-box-ordinal-group:2;*/
}
#bloque5{
	border: 2px solid blue;
	background-color: #528963;
	margin: 10px;
	padding: 20px;
	width: 60px;
	height: 90px;
	-webkit-box-flex:0.5;
	/*-webkit-box-ordinal-group:2;*/
}
#bloques1 #bloque2:onclick #slider{background-color: #fff;}

