*{
	margin:0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	color: #000305;
	font-size:12px;
	font-family: "Andale Mono", AndaleMono, monospace;
	/*display: -webkit-box;/*esto se utiliza para hacer la web responsive: http://css-infos.net/properties/webkit*/
	/*-webkit-box-pack: center;	*/
}
.body{
	margin: 3% auto;
	width: 70%;
	clear: both;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color: #6666FF;
}

a:hover, a:active{
	color: #FFF;
}
.cabecera{
	width: 100%;
}
.cabecera img{
	float:left;
	width: 18%;
	border: 1px solid blue;
	/*display: -webkit-box;*/
}
.cabecera nav{
	height: 100px;
	border: 1px solid blue;
}

.cabecera nav ul{
	list-style:none;
	margin: 0 auto;
}

.cabecera nav ul li{
	margin-top: 6%;
	float: left;
	display:inline;
	border: 1px solid blue;
}
.cabecera nav a:link, .cabecera nav a:visited{
	color: #303030;
	display:inline-block;
	padding: 10px 25px;
	height: 15px;
}
.cabecera nav a:hover, .cabecera nav a:active, .cabecera nav .activo a:link, .cabecera nav .activo a:visited{
	color:#999;
	text-shadow:none;
}
.main_img {
	width: 70%;
	float: left;
}

